@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Inter&family=Raleway&family=Orbitron&family=Lora&family=Merriweather&family=Playfair+Display&family=Alegreya&family=Pacifico&family=Caveat&family=Lobster&family=Monoton&family=Fredericka+the+Great&family=Bangers&family=Source+Code+Pro&family=Fira+Code&family=UnifrakturCook&family=Dancing+Script&family=Quicksand&family=Shadows+Into+Light&display=swap");

:root {
  --color-primary: #1e40af;
  --color-secondary: #cccccc;
  --color-detail1: #10b981;
  --color-detail2: #ec4899;
  --color-textPrimary: #111827;
  --color-textSecondary: #6b7280;
  --color-button: #3b82f6;
  --color-buttonHover: #2563eb;
  --color-buttonDisabled: #9ca3af;
  --color-error: #dc2626;
  --color-confirm: #16a34a;
}

.main {
  --color-base-100: rgb(62, 62, 62);
  --color-base-200: rgb(59, 59, 59);
  --color-base-300: rgb(53, 53, 53);
  --color-base-content: rgb(217, 217, 217);
  --color-primary: rgb(75, 97, 171);
  --color-primary-content: rgb(227, 231, 245);
  --color-secondary: rgb(165, 184, 222);
  --color-secondary-content: rgb(31, 33, 39);
  --color-accent: rgb(229, 133, 65);
  --color-accent-content: rgb(34, 26, 20);
  --color-neutral: rgb(66, 68, 76);
  --color-neutral-content: rgb(219, 219, 223);
  --color-info: rgb(123, 146, 222);
  --color-info-content: rgb(31, 28, 39);
  --color-success: rgb(125, 196, 125);
  --color-success-content: rgb(35, 44, 32);
  --color-warning: rgb(239, 192, 87);
  --color-warning-content: rgb(44, 37, 23);
  --color-error: rgb(189, 79, 51);
  --color-error-content: rgb(235, 222, 217);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-detail1: var(--color-detail1);
  --color-detail2: var(--color-detail2);
  --color-textPrimary: var(--color-textPrimary);
  --color-textSecondary: var(--color-textSecondary);
  --color-button: var(--color-button);
  --color-buttonHover: var(--color-buttonHover);
  --color-buttonDisabled: var(--color-buttonDisabled);
  --color-error: var(--color-error);
  --color-confirm: var(--color-confirm);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.headline {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-base-content);
}
.lableText {
  font-size: 1.25rem;
  color: var(--color-base-content);
}
.lableTextSmall {
  font-size: 0.7rem;
  color: var(--color-base-content);
}
.baseText {
  font-size: 1rem;
  color: var(--color-base-content);
}
.title {
  font-size: 1.25rem;
  color: var(--color-base-content);
}

.wave {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  background: rgb(57, 27, 112);
  transform: scale(1, 1);
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: var(--color-base-200);
  right: -25%;
  top: 20px;
  z-index: 0;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(57, 27, 112);
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

/* TYPOGRAPHIE */
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}
.font-lora {
  font-family: "Lora", serif;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-alegreya {
  font-family: "Alegreya", serif;
}
.font-pacifico {
  font-family: "Pacifico", cursive;
}
.font-caveat {
  font-family: "Caveat", cursive;
}
.font-lobster {
  font-family: "Lobster", cursive;
}
.font-monoton {
  font-family: "Monoton", cursive;
}
.font-fredericka {
  font-family: "Fredericka the Great", cursive;
}
.font-bangers {
  font-family: "Bangers", cursive;
}
.font-sourcecode {
  font-family: "Source Code Pro", monospace;
}
.font-firacode {
  font-family: "Fira Code", monospace;
}
.font-unifraktur {
  font-family: "UnifrakturCook", cursive;
}
.font-dancing {
  font-family: "Dancing Script", cursive;
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-shadows {
  font-family: "Shadows Into Light", cursive;
}
